---
layout: layout.liquid
permalink: /
description: Pumpkin Bread is a folk quintet based in Boston, MA that plays original acoustic music, blending influences from traditional folk songs and fiddle tunes with modern sensibilities and intricate arrangements.
---
{% css "page" %}{% include "css/home.css" %}{% endcss %}

<div class="page-wrapper">
  <h1>Pumpkin Bread Band</h1>
</div>