:root {
  --page-margin: 3rem;
  --brand-color: rgb(169,1,64);
  --primary-text-color: #000;
  --secondary-text-color: #6f6f6f;
  --page-background-color: rgb(248, 242, 229);

  --font-size-xl: 2.5rem;
  --font-size-md: 1.125rem;
  --font-size-sm: 0.9375rem;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-md);
  color: var(--primary-text-color);
  background-color: var(--page-background-color);
}

h1,h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: var(--font-size-xl);
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

p {
  margin: 1em 0;
}

img {
  height: auto;
}


header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

header nav li {
  padding: 1rem;
}

header nav li.active {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  :root {
    --page-margin: 1rem;
  }
}
